

  <div id="section-exp" class="container col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      <h2 class="subtitulo col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" id="subtitulo-experiencia">Experiencia:</h2>

      <div id="container-card-exp " class="d-flex flex-wrap flex-column flex-sm-row">
        <div class="card col-xxl-2 col-xl-2 col-lg-2 col-md-2" *ngFor=" let exp of experienciaList;">

            <img [src]="exp.logo" id="img-card" class="img-card">
            <div class="card-body">

              <h5 class="card-title">{{exp.empresa}}</h5>
              <p class="card-text">{{exp.puesto}}</p>
              <p class="card-text">{{exp.fecha}}</p>

            </div>

        </div>
      </div>
    </div>
  </div>


