<div id="aside-porta" class="container">


  <div class="row d-flex flex-wrap flex-column flex-sm-row" id="row1">
    <div class="card " id="card-paginas">
      <h2 id="titulo-aside">Mis Proyectos</h2>
      <div class="card-body ">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
          id="btn-modal">Ver Listado
          <i class="bi bi-box-arrow-in-right"></i>

        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">

              <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
                <div id="contenedor" class="container" *ngFor="let trabajo of trabajos">


                    <p id="Descripcion-firstweb">
                      <i class="bi bi-symmetry-horizontal"></i>
                      {{ trabajo.titulo }}:
                      <a class="link-pagina col-xxl-4 col-xl-4 col-lg-4 col-md-8 col-sm-8 col-xs-8" [href]="trabajo.link" target="_blank">
                      {{ trabajo.link }}</a>

                    </p>


                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>
