<div id="div-sobre-mi" class="sobre-mi-porta">
    <h2 id="titulo-portafolio" class="titulo-porta">
        ¡Saludos! Soy {{miPorfolio.fullname}} {{miPorfolio.segundonombre}} {{miPorfolio.apellido}}
    </h2>
    <p id="text-porta" class="text-porta">
        Es un gusto presentarme ante ustedes. Tengo {{miPorfolio.sobremi.edad}} y soy
        <b>{{miPorfolio.sobremi.profesion}}.</b>
    </p>
    <div class="img-sobre-mi-container">
        <img [src]="img.imgperfil" id="img-sobre-mi">
    </div>
</div>

