


<div id="div-sobre-mi" class="sobre-mi-porta container">
  <div class="row">

    <div class="img-sobre-mi-container col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <h2 id="titulo-portafolio" class="titulo-porta">
          ¡Saludos! Soy {{ persona.nombre }} {{ persona.apellido }}
           <!-- {{miPorfolio.fullname}} {{miPorfolio.segundonombre}} {{miPorfolio.apellido}} -->
        </h2>
        <img [src]="" id="img-sobre-mi">
    </div>

    <p id="text-porta" class="text-porta col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
      Es un gusto presentarme ante ustedes. Tengo {{ persona.edad }} años
      <!-- {{miPorfolio.sobremi.edad}}  -->
      y soy {{ persona.profesion }}
      <b>
        <!-- {{miPorfolio.sobremi.profesion}}. -->
      </b>
    </p>

  </div>
</div>

