<header id="header" class="header">
    <!-- <nav id="nav-portafolio" class="nav-portafolio navbar navbar-expand-lg">
        <div class="container-fluid" id="container-fluid1">
            <a class="navbar-brand active a-nav" routerLink="/">
                MR<br>Desarrollo Web
            </a>
        </div>
        <div class="container-fluid" id="container-fluid2">
            <a id="a-nav" class="a-nav" routerLink="/sobre-mi">
                Mi Perfil
            </a>
            <div class="nav-item dropdown">
                <button id="a-nav1" class="btn btn-secondary dropdown-toggle a-nav" type="button" 
                    data-bs-toggle="dropdown-menu" aria-expanded="true">
                    Mi Carrera
                </button>
                <ul class="dropdown-menu" id="#dropdown-menu">
                    
                </ul>
            </div>
        </div>

    </nav> -->

    <nav id="nav-portafolio" class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid1">
          <a id="btn-logo" class="navbar-branda-nav" routerLink="/">
            MR<br>Desarrollo Web
          </a>
        </div>
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item1" id="nav-item2">
                <a id="a-nav" class="nav-link active a-nav" aria-current="page" routerLink="/sobre-mi">
                    Mi Perfil
                </a>
              </li>
              <li class="nav-item2 dropdown">
                <a id="a-nav1" class="nav-link dropdown-toggle a-nav" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Mi Carrera
                </a>
                <!-- *ngFor="let product of products; index as productId" -->
                <ul class="dropdown-menu" >
                    <li class="container-link"><a id="a-nav2" class="a-nav dropdown-item" [routerLink]="['mis-trabajos']" > Mis Trabajos</a></li>
                    <li class="container-link"><a id="a-nav3" class="a-nav dropdown-item" [routerLink]="['experiencia']" >Experiencia</a></li>
                    <li class="container-link"><a id="a-nav4" class="a-nav dropdown-item" [routerLink]="['educacion']">Educación</a></li>
                    <li class="container-link"><a id="a-nav5" class="a-nav dropdown-item" [routerLink]="['skills']" >Skills</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

</header>