<footer id="footer-portafolio">
    <h2 id="titulo-contact-porta" class="titulo-contact-porta">¡Contáctame!</h2>
        <div class="container-footer">
            <a id="a-footer-linkedin" class="a-footer" [href]="contact.misDatos.linkedin.link"
                target="_blank">{{ contact.misDatos.linkedin.titulo }}</a>
            <a id="a-footer-insta" class="a-footer" [href]="contact.misDatos.insta.link" target="_blank">{{ contact.misDatos.insta.titulo }}</a>
            <a id="a-footer-github" class="a-footer" [href]="contact.misDatos.github.link" target="_blank">{{ contact.misDatos.github.titulo }}</a>
            <a id="a-footer-cel" class="a-footer" [href]="contact.misDatos.cel.link" target="_blank">{{ contact.misDatos.cel.titulo }}</a>
            <a id="a-footer-mail" class="a-footer" [href]="contact.misDatos.mail.link"
                target="_blank">{{contact.misDatos.mail.titulo}}</a>
        </div>
        <h6 id="titulo-contact-porta" class="titulo-contact-porta">CopyRight - Todos los derechos reservados - MR Desarrollo Web</h6>
</footer>
