#skills{
    height:100vh;
    background-color: #ffffff;
    padding:7% 3% 0;
}

#titulo-aside-h4{
    margin:2% auto;
    color:black;
}

#accordionFlushExample{
    width:100%;
    margin:0 auto;
}


.accordion-button{
    background-color:rgb(0, 0, 0);
    color:#fff;
}

#flush-collapseOne{
    color:rgb(255, 255, 255);
    border-radius:10px;
}

.accordion-body{
    background-color: rgb(0, 0, 0);

}

.texto-accordion{
  display: flex;
  flex-direction: row;
    color:#000000;
    background-color: rgb(255, 255, 255);
    border-radius:10px;
    margin:0 auto;
}

span{
  width: 25%;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  align-items: center

}


@media (max-width: 768px) {
  #titulo-aside-h4{
    margin: 20% auto 3%;
  }

  .texto-accordion{
    display: flex;
    flex-wrap: wrap;
  }
  span{
    width: 33%;
    padding: 0 7%;
  }
  p{
  text-align: center;
  }
}
