
<!-- <div class="container"> -->
  <div class="row col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-10">
    <div id="div-APlogo" class="div-APlogo col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <img id="APlogo" class="APlogo col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4" src="../../../assets/img/logos/APLogo.png" alt="Logo Argentina Programa">
    </div>
    <div class="social col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8">

      <a id="link-linkedin" class="link-linkedin" [href]="" target="_blank">
          <img id="linkedin" class="linkedin" src="../../../assets/img/logos/linkedin.png" alt="logo Linkedin">
        </a>
        <a id="link-github" class="link-github" [href]="" target="_blank">
          <img id="github" class="github" src="../../../assets/img/logos/github.png" alt="logo GitHub">
        </a>
        <a id="a-footer-mail" class="a-footer" [href]="" target="_blank">
          <img id="email" class="email" src="../../../assets/img/logos/mensaje.png" alt="logo Email">
        </a>

      </div>
  </div>







