

.row{
  background-color: black;
  height: 40%;
  width: 100vw;
  flex-wrap: nowrap;
align-items: center
}

#div-APlogo{
  height: 100%;
  z-index: 999;
  width: 50%;
}

#APlogo{
  width: 80px;
}

.social{
padding: 5px;
width: 50%;
display:flex;
flex-direction: row;
justify-content: flex-end
}


#linkedin, #github, #email{
  width: 30px;
  margin-right: 10px;
}
