#container-edu{
    height:100vh;
    background-color:rgb(255, 255, 255);
    padding:9% 1% 0;
}

#container-edu ul{
  padding: 0;
}

#subtitulo-educacion{
    margin: 1% 0 3%;
    text-align:center;
    color:#000000;
}

.card-body{
    background-color:#000000;
    color: white;
    margin: .5%;
    padding: 1.5%;
}

#info-educacion{
    text-align:center;
    line-height: 1;

}

.card-body:hover{
  background-color:#ffffff;
  color: rgb(0, 0, 0);
  text-transform:uppercase;
font-weight: 600;
  line-height: 1.5;
}

@media (max-width: 768px) {
  #container-edu{
    padding:25% 1% 0;
  }
}
